.home-page-container {
  // position: relative;
  margin-left: 30px;
  padding-top: 76px;
  display: flex;
  flex-direction: column;
}

.track-index {
  width: 990px;
  min-height: fit-content;
  overflow: hidden;
  display: flex;
  border-bottom: 1px solid #f2f2f2;    
}

.track-index-inner {
  margin: 0 auto;
  width: 100%;
  padding: 20px 20px 20px 0;
  min-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  transition: all ease-in-out 1s;
  transform: translate(0%, 0%);
}

.track-header {
  width: fit-content;
  font-family: 'Interstate';
  font-size: 23px;
  margin-bottom: 15px;
}

.track-subheader {
  font-family: 'Interstate';
  width: fit-content;
  font-size: 14px;
  color: #999;
}

.home-page-index {
  width: 100% ;
  border: none;
  padding-left: 30px;
}
