.splash-background {
   background-color: #666;
   width: 100%;
}

.splash-main {
   border-top: 4px solid #f50;
   background-color: white; 
   width: 1240px;
   margin: 0 auto;
   min-height: 100vh;
}

.splash-image-1 {
   width: 100%;
   height: 450px;
   background-image: image-url('splash1.jpg');
   font-weight: 400px;
   color: white;
}

.splash-image-1 h2 {
   width: 700px;
   padding-top: 120px;
   padding-bottom: 20px; 
}

.splash-image-1 p {
   width: 530px;
}

.splash-image-1 p, .splash-image-1 h2, .splash-image-1 button {
   display: block;
   margin: 0 auto;
   text-align: center;
}

.splash-nav {
   width: 90%;
   display: flex;
   margin: 0 auto;
   padding-top: 20px; 
   justify-content: space-between;
}

.splash-sc-icon {
   font-size: 32px;
   margin-right: 10px;
}

.splash-sc-logo {
   display: flex;
   align-items: center;
}

.splash-buttons-container {
   display: flex;
   width: 300px;
   justify-content: space-between;
   align-items: center;
}

// .login-splash {
//   transition: 0.2s;
// }

// .login-splash:hover {
//   background-color: rgba(0,0,0, 0.9);
// }

.logout-splash {
   width: 100px;
}

.splash-text-title {
   font-size: 35px;
   margin-bottom: 20px;
   margin-top: 150px;
}

.splash-text-p {
   font-size: 22px;
}

.splash-music {
   min-height: 240px;
}

.splash-music-text {
   font-size: 26px;
   text-align: center;
   margin-top: 30px;
   margin-bottom: 20px;
}

.collection {
   color: white;
   margin-left: 40%;
   margin-top: 10px;
   margin-bottom: 70px;
}

.modal-forms-appear {
   transform: translate( 0px, -700px);
}

.modal-forms-appear-active {
   transform: translate(0px, 0px);
   transition: transform .5s ease-in-out;
}
